<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IndiceDao">
	<!-- 查询所有体系模板或实例信息 -->
	<select id="selectAllSchemeInfo" resultType="com.pojo.SchemeInfo">
		select * from scheme where user_id = #{user_id} and isInstance = #{isInstance}
	</select>
	
	<!-- 根据体系id查询体系信息 -->
	<select id="selectSchemeInfoById" parameterType="int" resultType="com.pojo.SchemeInfo">
		select * from scheme where scheme_id = #{scheme_id}
	</select>
	
	<!-- 根据体系id查询所有的体系模板 -->
	<select id="selectSchemeTemplateInfoById" parameterType="int" resultType="com.pojo.SchemeInfo">
		select * from scheme where scheme_id = #{scheme_id} and isInstance = 0
	</select>
	
	<!-- 根据体系id查询所有的体系实例 -->
	<select id="selectSchemeInstanceInfoById" parameterType="int" resultType="com.pojo.SchemeInfo">
		select * from scheme where scheme_id = #{scheme_id} and isInstance = 1
	</select>
	
	<!-- 查询所有算子信息 -->
	<select id="selectAllOperator" resultType="com.pojo.OperatorInfo">
		select * from operator
	</select>
	<!-- 获取一个用户的所有算子 -->
	<select id="selectUserOperators" parameterType="int" resultType="com.pojo.OperatorInfo">
		select operator.* from user_operator, operator
		where user_operator.user_id = #{user_id} and user_operator.operator_id = operator.operator_id
	</select>
	
	<!-- 获取一个用户没有的所有算子 -->
	<select id="selectUserNotHaveOperators" parameterType="int" resultType="com.pojo.OperatorInfo">
		select operator.* from operator
		where operator.operator_id
		not in
		(select user_operator.operator_id from user_operator where user_id = #{user_id})
	</select>
	<!-- 为用户批量增加算子 -->
	<insert id="addUserOperators">
		insert into user_operator (user_id, operator_id)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{user_id, jdbcType=INTEGER},
			#{item, jdbcType=INTEGER})
		</foreach>
	</insert>
	<!-- 为用户批量删除算子 -->
	<insert id="deleteUserOperators">
		delete from user_operator
		where user_id = #{user_id} and operator_id in
		(
		<foreach collection="list" item="item" index="index" separator=",">
			#{item.operator_id, jdbcType=INTEGER}
		</foreach>
		)
	</insert>
	<!-- 根据用户id查询用户在实例中已使用的算子 -->
	<select id="selectUsedOperators" parameterType="int" resultType="com.pojo.OperatorInfo">
		select * from operator where operator_id 
		in(select distinct(operator_id) from indice where scheme_id in(select scheme_id from scheme where user_id=#{user_id}))
	</select>
	
	<!-- 修改当前用户信息 -->
	<update id="updateCurrentUserInfo" parameterType="com.pojo.UserInfo">
		update user
		set
		username = #{username},
		password = #{password},
		email = #{email}
		where user_id = #{user_id}
	</update>
	<!-- 插入前判断该用户下是否存在同名体系模板或实例 -->
	<select id="selectRenamedScheme" parameterType="com.pojo.SchemeInfo" resultType="com.pojo.SchemeInfo">
		select * from scheme where user_id = #{user_id} and scheme_name = #{scheme_name} and isInstance = #{isInstance}
	</select>
	<!-- 插入一条体系信息 -->
	<insert id="insertScheme" parameterType="com.pojo.SchemeInfo"
		keyProperty="scheme_id" useGeneratedKeys="true">
		insert into
		scheme(scheme_name, user_id, isInstance)
		values(#{scheme_name}, #{user_id}, #{isInstance})
	</insert>
	<!-- 模糊查询所有体系模板或实例信息 -->
	<select id="selectSchemeFuzzy" resultType="com.pojo.SchemeInfo">
		select * from scheme
		where scheme_name like #{scheme_name} and user_id = #{user_id} and isInstance = #{isInstance}
	</select>
	<!-- 修改体系信息 -->
	<update id="updateSchemeInfo" parameterType="com.pojo.SchemeInfo">
		update scheme
		set scheme_name = #{scheme_name}
		where user_id = #{user_id} and scheme_id = #{scheme_id}
	</update>
	<!-- 删除一个体系 -->
	<delete id="deleteScheme" parameterType="int">
		delete from scheme where
		scheme_id = #{scheme_id}
	</delete>
	<!-- 获取一个体系的所有指标信息 -->
	<select id="getSingleSchemeDetailInfo" resultType="com.pojo.IndiceInfo">
		select indice.* from indice, scheme
		where scheme.user_id = #{user_id}
		and scheme.scheme_id = #{scheme_id}
		and indice.scheme_id = scheme.scheme_id
	</select>
	<!-- 删除一个指标 -->
	<delete id="deleteIndice" parameterType="int">
		delete from indice where
		indice_id = #{indice_id}
	</delete>
	
	<!-- 创建一个指标 -->
	<insert id="insertIndiceInfo" parameterType="com.pojo.IndiceInfo"
		keyProperty="indice_id" useGeneratedKeys="true">
		insert into indice(indice_name, indice_weight, indice_value,
		father_id, operator_id, scheme_id)
		values(#{indice_name}, #{indice_weight}, #{indice_value}, #{father_id}, #{operator_id}, #{scheme_id})
	</insert>
	<!-- 更新一个指标 -->
	<update id="updateIndiceInfo" parameterType="com.pojo.IndiceInfo">
		update indice
		set
		indice_name = #{indice_name},
		indice_weight = #{indice_weight},
		indice_value = #{indice_value},
		father_id = #{father_id},
		operator_id = #{operator_id}
		where indice_id = #{indice_id} and scheme_id = #{scheme_id}
	</update>
	<!-- 根据指标id、体系id查询指标 -->
 	<select id="selectIndiceInfoByIndice_id" parameterType="int" resultType="com.pojo.IndiceInfo">
  		select * from indice where indice_id = #{indice_id} and scheme_id = #{scheme_id}
 	</select>
	<!-- 根据体系id查询体系名称 -->
	<select id="selectScheme_nameByScheme_id" parameterType="int" resultType="String">
		select scheme_name from scheme where scheme_id = #{scheme_id}
	</select>
</mapper>