<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ResultDao">
	<!-- 根据体系id和计算时间从结果表中查询结果信息 -->
	<select id="selectResultBySchemeIdANDTime" resultType="com.pojo.Result">
		select * from calc_result where scheme_id == #{scheme_id} and time = #{time}
	</select>
	
	<!-- 插入结果信息 -->
	<insert id="insertResult" parameterType="com.pojo.Result"
		keyProperty="id" useGeneratedKeys="true">
		insert into calc_result (scheme_id, name, value, groupId, time)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.scheme_id, jdbcType=INTEGER},
			#{item.name, jdbcType=VARCHAR},
			#{item.value, jdbcType=DOUBLE},
			#{item.groupId, jdbcType=INTEGER},
			#{item.time, jdbcType=TIMESTAMP})
		</foreach>
	</insert>
</mapper>